@import "colors";

header#page-header{
  color: $primary-color;
  background: $secondary-color;
  padding: 5px;

  h1{
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer{
  color: $secondary-color;
  background: $primary-color;
  padding: 5px;
}

aside#sidebar{
  float: right;
  padding: 10px;
  margin: 5px;
}